*{
    font-family: poppins;
}

/* ---------------------page1--------------- */
.page-1{
    width: fit-content;
    background-color: #7030CC;
    padding: 50px;
    padding-left: 100px;
    color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.menu{
    display: none;
}
nav{
    display: flex;
    align-items: center;
    
}
.logoo:hover{
    filter: invert(0%) sepia(100%) saturate(7466%) hue-rotate(35deg) brightness(115%) contrast(101%);
}

.lists{
    display: flex;
    list-style-type: none;
    margin-left: 400px;
}
.list-item{
    padding-left: 20px;
}
.list-item:hover{
    color: black;
}
.navlast{
    margin-left:200px;}
.free{
    cursor: pointer;
    color: white;
    background-color: #1EBDEF;
    padding: 10px 25px 10px 25px;
    border: none;
}
.free:hover{
    box-shadow: 2px 2px 10px grey; 
}

.page-1-bottom{
    display: flex;
    align-items:center;
}

.heading1{
    font-size: 50px;
}
.one{
    width: 700px;
    margin-left: 200px;
}
/* ----------------------------------------------------------- */
.page-2{
    margin: 50px;
    
}
.page-2-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-2-top-right{
    padding-right: 100px;
}
.two{
    width: 700px;
}
.page-2-mid{
    text-align: center;
    margin: 40px;
}
.page-2-bottom{
    display: flex;
    justify-content: space-around;
}
.card{
    text-align: center;
    align-items: center;
    padding: 20px;
    border-radius: 40px;
    box-shadow:2px 2px 1px grey;

}
.card:hover{
    box-shadow:2px 2px 10px grey;
    padding: 20px;
    
}
.content3{
    border-radius: 40px;
    padding: 10px;
}
.content3:hover{
    color: white;
    background-color: #7030CC;

}

.icon{
    width: 100px;
}

@media only screen and (max-width: 600px){
    html{
        width: fit-content;
    }
    .one{
        transform: scale(0.6);
    }
    .menu{
        display: block;
        filter: invert();
        position: absolute;
        left: 650px;
    }
    .navmid,.free{
        display: none;
    }
    .page-1-bottom-left>.content{
        display: none;
    }
    .page-1-bottom-left{
        width:200px;
    }
    .one{
        margin: 0px;
    }
    .content2>p{
        display: none;
    }
    .page-2-bottom{
        width: fit-content;
        justify-content: space-around;
    }
    .content3>div{
        display: none;
    }

}
